.d-list-container {
    list-style: none;
    padding: 0;
  }

.d-list-content {
  margin-left: 10px;
}

  .d-list-node {
    margin-left: 10px;
  }

  li {
    padding: 20px 0px 0px 5px;
    position: relative;
  }
    li:before {
      content: "";
      position: absolute;
      top: 29px;
      left: 11px;
      border-left: 1px solid #000;
      width: 1px;
      height: 100%;
    }

    li:after {
      content: "";
      position: absolute;
      border-top: 1px solid #000;
      top: 29px;
      left: 11px;
      width: 10px;
    }

    li:last-child:before {
      top: 9px;
      height: 20px;
    }

.d-inline {
    float: left;
    margin-left: 20px;
    margin-right: 5px;
    padding: 0;
}
.d-list-head {
    padding: 0 10px;
    margin-left: 15px;
}
